<h1>Secrets</h1>

<table>  <% @secrets.each do |s| %>
  <tr>
    <td style="text-align: left"><%= s.content %></td>
    <td style="text-align: left">___</td>
    <td style="text-align: left">
      <% if current_user == s.user %>
        <form action='/secrets/<%= s.id %>' method='post'>
          <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' value='Delete'>
        </form></td>
  </tr>
  <tr>
    <td style="text-align: left"><%= s.likes.count %> likes</td>
    <td style="text-align: left">
      <form action='/likes' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='secret_id' value='<%= s.id %>'>
    <input type='submit' value='Like'>
  </form></td>
    <td style="text-align: left"></td>
  </tr>
      <% end %>
   <% end %>
  </table>
